@model PsychologyAppointmentSystem.Models.Counselor

<h2>افزودن مشاور</h2>

<form method="post" enctype="multipart/form-data">

    <input class="form-control" name="FirstName" placeholder="نام" />
    <br />

    <input class="form-control" name="LastName" placeholder="نام خانوادگی" />
    <br />

    <input class="form-control" name="Specialty" placeholder="تخصص" />
    <br />

    <textarea class="form-control" name="Description" placeholder="توضیحات"></textarea>
    <br />

    <input class="form-control" name="Phone" placeholder="شماره تماس" />
    <br />

    <input type="file" name="Photo" class="form-control" />
    <br />

    <button class="btn btn-success">ثبت</button>

</form>